* {
    margin: 0;
    padding: 0;
}
body{
	
	background-image: url("https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: 100% auto;
	
}



.logo {
	height: 200px;
	width: 200px;
	float: right;
	border-radius: 100px;
	}

.title{
	text-align: center;
	font-size: 45px;
	color: white;
	text-shadow: 4px 4px 8px #000000;
}

.pic1{
	width: 315px;
	height: auto;
	border-radius: 15px;
}

.pic2{
	width: 315px;
	height: auto;
	border-radius: 15px;
}

.pic3{
	width: 315px;
	height: auto;
	border-radius: 15px;
}

.pic4{
	Height: 300px;
	width:auto;
	position: relative;
	top: 100px;
	border: solid 2px gold;
	box-shadow: 5px 10px #000000;
	left: 2%;
}
.pic5{
	Height: 300px;
	width:auto;
	position: relative;
	top: 100px;
	border: solid 2px gold;
	box-shadow: 5px 10px #000000;
	left: 2%;
}
.button1{
	background-color: black;
	border-radius: 12px;
	width:333px;
	height:250px;
	float: left;
	position: relative;
	top: 100px;
}

.button2{
	background-color: black;
	border-radius: 12px;
	width:333px;
	height:250px;
	float: left;
	position: relative;
	top: 100px;
}

.button3{
	background-color: black;
	border-radius: 12px;
	width:333px;
	height:250px;
	float: left;
	position: relative;
	top: 100px;
}

.button4{
	background-color: black;
	border-radius: 12px;
	width:333px;
	height:250px;
	float: left;
	position: relative;
	top: 100px;
}



p{
	color: white;
	font-size: 19px;
}




.div1{
	width:400px;
	text-align: center;
	display: inline-block;
	margin-left: 4%;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	text-align: center;
	color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 

li a {
    display: block right;
}

ul {
    list-style-type: none;
    width: 200px;
    background-color: grey;
	border: solid 2px black;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: bold;
	border: solid 1px black;
	text-align: center;
}

li a:hover {
    background-color: gold;
   
}

.div7{
	
	display:inline-block;
	height: 50px;
	width: 50px;
	position: relative;
	top:450px;
	right:1400px;
	
	
}

.pic7{
	width:100%;
	height:auto;
	position: relative;
	top: -530px;
	z-index:-2;
	
}

.divb{
	float: left;
	position: relative;
	top: 150px;
	background-color: gold;
	border-radius:12px;
	border: 5px solid gold;
}

.dimage1{
	height:990px;
	width:100%;
	
	background-image: url("https://images.pexels.com/photos/8263/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: 100% auto;
}



.gui1{
	height:300px;
	width:auto;
	position:relative;
	top:275px;
	right:140px;
	border: solid 2px gold;
	box-shadow: 5px 10px #000000;
}


.gui2{
	height:300px;
	width:auto;
	position:relative;
	bottom:715px;
	left:955px;
	border: solid 2px gold;
	box-shadow: 5px 10px #000000;
	
	
	
	
}

.h31{
	
	position:relative;
	top:300px;
	left:60px;
	width: 400px;
}


.h32{
	
	position:relative;
	width: 400px;
	bottom:695px;
	left:977px;
}









































